[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
scipy = "*"
networkx = "*"
torch = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
