[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
scipy = "*"
networkx = "*"
gitpython = "*"
torch = "==1.10.2+cu113"
pandas = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
